* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ios system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: lightblue;
}

.activity__container {
    background: rgba(255, 255, 255, .4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.27);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    height: 200px;
}

h1 {
    font-size: 1em;
}

.activity__container div {
    padding: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgb(244, 244, 244, .2);
}

button {
    padding: 10px 20px;
    width: 30%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .3s ease-in all;
    border-radius: 5px;
    background-color: #cac9c983;
}

button:hover {
    border: 2px solid #222;
}


@media only screen and (max-width: 600px) {
    .activity__container {
        width: 50%;
        height: min-content;
    }

    .activity__container div {
        height: 100%;
        width: 100%;
    }

    button {
        width: 100%;
    }
}